@model MyDotSample.Customer

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>CustomerViewModel</title>
</head>
<body>
	@Model.FirstName 
	@Model.LastName
</body>
</html>

